$bg-color: #fff;
$error-color: #a94442;
$detail-color: #ffe9ce;
$detail-color-2: #4e51bf;
$detail-color-3: #24252a;
$detail-color-4: #ff92a4;
$gradient-detail: linear-gradient(-45deg, $detail-color, $bg-color);